nav{
  display:flex;
  justify-content: space-around;
  align-items:center;
  min-height:10vh;
  background:rgb(73,79,80);
}
.nav-links{
  width:30%;
  display:flex;
  justify-content: space-around;
  align-items: center;
  list-style:none;
}
#signup{
  background-color:#13449A;
}
form{
  padding-left:35%;
  margin-left: 15%;
  margin-right:15%;
  background-color: #183C7A;
}
label,input{
  color:aqua;
  display:block;
  margin-top:30px;
  /* makes sure every label and input are on a new line */
}
.navLink{
  display:block;
  background-color: Crimson;  
  border-radius: 5px;
  color: white;
  padding: .5em;
  text-decoration: none;
  width:180px;
}
.navLink:hover{
  background-color: FireBrick;
  color: White;
  text-decoration: none;
}
#nameandcollege{
  color:blue;
  margin-left:40px;
  border:1px solid blue;
  width:30%;
}
.error{
  color:rgb(83, 226, 245);
}