nav{
  display:flex;
  justify-content: space-around;
  align-items:center;
  min-height:10vh;
  background:rgb(73,79,80);
}
.nav-links{
  width:30%;
  display:flex;
  justify-content: space-around;
  align-items: center;
  list-style:none;
}
.spaceForInput{
  margin-bottom:20px;
}

.navLink{
  display:block;
  background-color: rgb(20, 220, 97);  
  border-radius: 5px;
  color: white;
  padding: .5em;
  text-decoration: none;
  width:180px;
  text-align:center;
  margin-top:10px;
}
.navLink:hover{
  background-color: rgb(21, 109, 49);
  color: White;
  text-decoration: none;
}
#nameandcollege{
  color:blue;
  margin-left:40px;
  border:1px solid blue;
  width:30%;
}
.error{
  color:rgb(83, 226, 245);
}
#errorlabel{
  color:red;
}
.Box{
  margin-top:10px;
}
#list{
  background-color:gray;
}
#listItem{
  border-bottom: 1px solid navy;
  /* except the last list item */
}
#topRowOfList{
  background-color:darkgrey;
  color:red;
  text-decoration: underline;
}

